body{
    background-color:#000000; 
}

.card{
    position: absolute;
    left:33%;
        top:15%;
    padding: 40px;
	
}


#erro{
    margin-top: 30px;
    padding-bottom: 20px;
}

.card #entrar {
    background-color:#3CB371;
    margin-top:20px;
    border: #3CB371
}

.card #entrar:hover {
    background-color:#2E8B57;
    border: #2E8B57
}

.card #cadastro {
    margin-top:20px;
}

.card h3,h6{
    text-align: center
}

.card p{
    margin-top: 10px;
}

.card img{
    position: absolute;
    width: 150px;
    margin-top: -40px;
    left:5px;
}


#status{
    list-style: none;
    text-decoration: none;
    margin:30px;
    text-align: center;
}

#status li{
    list-style: none;

}

#status p{
    font-size: 15pt;
    margin-top: -5px;
}

