<link href="stylesheets/index.css" rel="stylesheet">    
<div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Painel ADMIN</h3>
            </div>
            
            
            <ul class="list-unstyled components">
                <p>MENU</p>
                <li>
                    <a href="home">Home</a>
                </li>
        
                <li>
                    <a href="filmes">Filmes</a>
                </li>
                <li>
                    <a href="sair">Sair</a>
                </li>


            </ul>
        </nav>
    </div>    
