<%- include('head.ejs')%>    
<link href="stylesheets/random.css" rel="stylesheet">    

<body>
    <div class="container-fluid">
        <h1>Ramsom </h1>
        <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="images/logo.png" alt="Card image cap">
                <div class="card-body">
                  <div> 
           
                  </div>
                  
                </div>
        </div>    
    </div>           

    
<%- include('footer.ejs')%>    
<h1> </h1>
